# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Results / output
results/*.json
results/*.html
results/**/*.json
results/*.csv
results/**/*.csv
results/*.pkl
results/*.db
results/*.mp4
results/*.png
results/*.jpg
results/*.jpeg

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

presentation/*


# OS
.DS_Store
Thumbs.db
